<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<display-name>Student Details</display-name>

	<servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>student.Upload</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

</web-app>